{% extends 'layouts/admin.html' %}
{% load bootstrap %}
{% load widget_tweaks %}
{% block content %}
<main class="container">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group {% if field.errors %}has-error{% endif %}">
                <label for="{{ field.id_for_label }}" class="control-label">{{ field.label }}</label>
                {{ field|add_class:"form-control" }}
                {% if field.errors %}
                    <small class="form-text text-danger">{{ field.errors.0|escape }}</small>
                {% endif %}
            </div>
        {% endfor %}
    <button type="submit" class="btn btn-success" data-toggle="tooltip" data-placement="right" title="Tooltip on right">Salvar</button>
    <a class="btn btn-danger" href="{% url 'supervisores' %}">Cancelar</a>
</form>
    </main>

    <script>
        $('input[name="data_de_nascimento"]').mask('00/00/0000'); 
        $('input[name="telefone"]').mask('+55 (00) 0 0000-0000');
    </script>

{% endblock %}