{% extends 'layouts/admin.html' %}

{% block content %}
  <h1 class="mt-3">Estagiarios</h1>
    <div class="d-flex col mb-3 mt-3 justify-content-between">
         <a href='{%  url "Create_Estagiario" %}' class="btn btn-light">Criar Estagiario</a>
    <div>
        <form method="get" action="{% url 'estagiarios' %}">
        <input type="text" name="q" placeholder="Buscar estagiario" >
            <button type="submit" class="btn btn-light "><i class="bi bi-search"></i></button>
        </form>
    </div>

    </div>
<div class="row">
  <div class=" m-auto">
    <table class="table">
        <thead class="table-dark">
             <th scope="col">#</th>
              <th scope="col">Nome</th>
              <th scope="col">Sobrenome</th>
              <th scope="col">Telefone</th>
             <th scope="col">Ano Letivo</th>
            <th scope="col">Ações</th>
        </thead>

        <tbody>
            {% if estagiarios %}
            {% for estagiario in estagiarios %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ estagiario.first_name }}</td>
                    <td>{{ estagiario.last_name }}</td>
                    <td>{{ estagiario.telefone }}</td>
                    <td>{{ estagiario.ano_letivo }}</td>
                    <td>
                        <a href='{% url "Edit_Estagiario" estagiario.id %}'>
                            <i class="bi bi-pencil-fill"></i>
                        </a>
                         <a href='#' data-bs-toggle="modal" data-bs-target="#myModal{{ estagiario.id }}">
                                <i class="bi bi-trash-fill"></i>
                            </a>
                    </td>
                </tr>
                    <div class="modal" id="myModal{{ estagiario.id }}">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Deletar o Usuario {{ estagiario.username }}</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <!-- Pode adicionar mais informações do orientador aqui se desejar -->
                        Tem certeza que deseja deletar o usuário {{ estagiario.username }}?
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                             <form method="POST" action="{% url 'Delete_Estagiario' estagiario.id %}">
                              {% csrf_token %}
                              <button type="submit" class="btn btn-danger">Confirmar</button>
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            </form>
                    </div>

                </div>
            </div>
        </div>
            {% endfor %}
            {% else %}
                 <tr>
                    <th scope="row">------</th>
                    <td>------</td>
                    <td>------</td>
                    <td>------</td>
                    <td>------</td>
                     <td>------</td>
                </tr>
              {% endif %}
        </tbody>
      </table>


    </div>
</div>

{% endblock %}