

<div class="d-flex flex-row justify-content-center">
    <div class="col-sm-12 mt-5">
        <div class="row d-flex align-items-cente ">
          <div class="row align-items-center">
                <h1 class="display-4 col-6 mb-5 font fw-bold">CAEMT Unespar</h1>
                <img class="col-6" src="../../static/img/logoMus.png" alt="">
            </div>

            <p class="lead" style="font-size: 1.5em">Centro de Atendimento e Estudos em Musicoterapia</p>
        </div>
    </div>
    <div class=" col-xl-11 mb-5" >
        <form id="form" class="p-5" method="post">
                {% csrf_token %}
                <div class="text-center mb-3">
                    <img src="../../static/img/logo.png" alt="">
                </div>

                <hr class="mt-3 mb-4">
                <div class="form-floating pb-3">
                    <input type="text" class="form-control" id="floatingInput" name="username" placeholder="Email" />
                    <label for="floatingInput"> Seu Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingInput" name="password" placeholder="Email" />
                    <label for="floatingInput"> Sua Senha</label>
                </div>

            <button class="btn btn-primary w-100 py-2 button_style ">Entrar</button>
        </form>
    </div>
</div>
<style>
    .font {
        font-family: bootstrap-icons;
        margin-top: 1.5em;
    }
    .button_style {
        background-color: #04D361;
        border-color: #04D361
    }
     .button_style:hover {
        background-color: #028d40;
        border-color: #028d40
    }
</style>