{% extends 'layouts/admin.html' %}
{% load custom_filters %}

{% block content %}
<main class="container-fluid w-75 mt-2">
    <h1 class="text-center mt-4">Calendario de Reservas</h1>
    <div class="row align-items-center">
        <div class="col-lg-3">
            <div class="list-group">
                {% for data in datas_semana %}
                    <a href="{% url 'agenda' data %}" class="btnmy list-group-item list-group-item-action mt-2 p-3 border border-dark text-center rounded-pill {% if dia|lower == data|lower %}active{% endif %}" aria-current="true">
                        {{ data }}
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-9">
            <div class="container mt-3">
                <table class="table table-bordered border-primary table-sm" style="font-size: 1.2em;">
                    <thead>
                        <tr class="text-center">
                            <th class="col-7 font-weight-bold table-primary" colspan="2">{{ dia }}</th>
                        </tr>
                        <tr class="text-center">
                            <th class="col-1">HORARIOS</th>
                            <th class="col-6">RESERVAS</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for hora in horarios_reservados %}
                            {% if hora.reserva %}
                                <tr class="text-center">
                                    <td class="table-secondary">
                                        {{ hora.hora }}
                                    </td>
                                    <td class="table-active p-0">
                                        <a href='' data-toggle="modal" data-target="#ModalInfo{{ forloop.counter  }}">
                                            <i class="bi bi-info-circle"></i>
                                        </a>
                                         <a href='' data-toggle="modal" data-target="#ModalDelete{{ forloop.counter }}">
                                            <i class="bi bi-trash3"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr class="text-center pb-0">
                                    <td>
                                        {{ hora.hora }}
                                    </td>
                                    <td class="pb-0">
                                        <a href='' data-toggle="modal" data-target="#ModalCreate{{ forloop.counter }}">
                                            <i class="bi bi-plus-square"></i>
                                        </a>

                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

<style>
    .btnmy {
        color: black;
    }

    .btnmy.active {
        background-color: #CFE2FF;
        color: black;
    }

    .modal-backdrop {
    background-color: rgba(0, 0, 0, 0.61) !important; /* Fundo semi-transparente */
}

</style>


{% for hora in horarios_reservados %}

<!-- MODAL INFO-->
<div class="modal" id="ModalInfo{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header p-3">
                <h5 class="modal-title h3">Horário Reservado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-4">
                <div class="row">
                    <div class="col-6">
                        <span>Inicio:</span>
                        <input class="form-control" type="text" value="{{ hora.info.horario }}" readonly>
                    </div>
                    <div class="col-6">
                        <span>Final:</span>
                        <input class="form-control" type="text" value="{{ hora.info.horario|add_minutes:60 }}" readonly>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <span>Participante:</span>
                        <input class="form-control" type="text" value="{{ hora.info.participante.username }}" readonly>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <span>Estagiarios:</span>
                        {% for estagiario in hora.info.estagiario.all %}
                            <input class="form-control my-2" type="text" value="{{ estagiario.username }}" readonly>
                        {% endfor %}
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <span>Orientador Responsável:</span>
                        <input class="form-control my-2" type="text" value="{{ hora.info.estagiario.first.orientador_responsavel.username }}" readonly>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Create -->
<div class="modal" id="ModalCreate{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header p-3">
                <h5 class="modal-title h3">Fazer Reserva</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-4">
            {% if participantes_sem_agenda and estagiarios_sem_agenda %}
                <form method="POST" action="{% url 'create_agenda' dia %}">
                    {% csrf_token %}
                    <input type="hidden" name="semana" value="{{ dia }}">
                    <div class="row">
                        <div class="col-6">
                            <span>Inicio:</span>
                            <input name='horario' class="form-control" type="text" value="{{ hora.hora }}" readonly>
                        </div>
                        <div class="col-6">
                            <span>Final:</span>
                            <input class="form-control" type="text" value="{{ hora.hora|add_minutes:60 }}" readonly>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <span>Participante:</span>
                            <select name='participante' class="form-select" aria-label="Default select example">
                                {% for participante in participantes_sem_agenda %}
                                    <option value="{{ participante.id }}">{{ participante.username }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <span>Estagiarios:</span>
                            <select name='estagiario' class="form-select" aria-label="Default select example">
                                   {% for estagiario in estagiarios_sem_agenda %}
                                        <option value="{{ estagiario.id }}">{{ estagiario.username }}</option>
                                    {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3 text-center d-flex align-items-center">
                        <div class="col-6">
                            <button type="button" class="btn btn-danger px-5 w-75" data-dismiss="modal" aria-label="Close">Cancelar</button>
                        </div>
                        <div class="col-6">
                            <button type="submit" class="btn btn-success px-5 w-75">Criar</button>
                        </div>
                    </div>
                </form>
            {% else %}
                <p class="text-danger">Não há Participante para ser agendado ou não há estagiarios disponiveis  </p>
            {% endif %}
        </div>
    </div>
</div>
</div>

    <!-- Modal Delete-->
    <div class="modal" id="ModalDelete{{ forloop.counter }}">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Deletar o Agendamento</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        Tem certeza que deseja deletar o agendamento das {{ hora.hora }}?
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                            {% if hora.info.id %}
                                <form method="POST" action="{% url 'deletar_agenda' hora.info.id %}">
                                {% csrf_token %}
                                <input type="hidden" name="semana" value="{{ dia }}">
                                <button type="submit" class="btn btn-danger">Confirmar</button>
                                </form>
                            {% endif %}
                            <button type="button" class="btn btn-light" data-dismiss="modal" aria-label="Close">Cancelar</button>

                    </div>

                </div>
            </div>
        </div>
{% endfor %}
{% endblock %}

