{% extends 'layouts/admin.html' %}

{% block content %}
  <h1 class="mt-3">Orientadores</h1>
    <div class="d-flex col mb-3 mt-3 justify-content-between">
         <a href='{%  url "Create_Orientador" %}' class="btn btn-light">Criar Orientador</a>
    <div>
        <form method="get" action="{% url 'orientadores' %}">
        <input type="text" name="q" placeholder="Buscar Orientador" >
            <button type="submit" class="btn btn-light "><i class="bi bi-search"></i></button>
        </form>
    </div>

    </div>
<div class="row">
  <div class=" m-auto">
    <table class="table">
        <thead class="table-dark">
             <th scope="col">#</th>
              <th scope="col">Nome</th>
              <th scope="col">Sobrenome</th>
             <th scope="col">Telefone</th>
            <th scope="col">Ações</th>
        </thead>

        <tbody>
            {% if orientadores %}
            {% for orientador in orientadores %}
    <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td> <a href="{% url 'perfil' orientador.username %}">  {{ orientador.first_name }} </a></td>
        <td>{{ orientador.last_name }}</td>
        <td>{{ orientador.telefone }}</td>
        <td>
            <a href='{% url "Edit_Orientador" orientador.id %}'>
                <i class="bi bi-pencil-fill"></i>
            </a>
            <a href='' data-bs-toggle="modal" data-bs-target="#myModal{{ orientador.id }}">
                <i class="bi bi-trash-fill"></i>
            </a>
        </td>
    </tr>

    <!-- The Modal for Deletion -->
        <div class="modal" id="myModal{{ orientador.id }}">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Deletar o Usuario {{ orientador.username }}</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <!-- Pode adicionar mais informações do orientador aqui se desejar -->
                        Tem certeza que deseja deletar o usuário {{ orientador.username }}?
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                             <form method="POST" action="{% url 'Delete_Orientador' orientador.id %}">
                              {% csrf_token %}
                              <button type="submit" class="btn btn-danger">Confirmar</button>
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            </form>
                    </div>

                </div>
            </div>
        </div>
    {% endfor %}

            {% else %}
                 <tr>
                    <th scope="row">------</th>
                    <td>------</td>
                    <td>------</td>
                    <td>------</td>
                    <td>------</td>
                </tr>
              {% endif %}
        </tbody>
      </table>


    </div>
</div>


{% endblock %}