{% extends 'layouts/admin.html' %}

{% block content %}
  <h1>Orientadores</h1>
    <a href='{%  url "Create_Orientador" %}'> Criar_orientador</a>
<div class="row">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      {% if orientadores %}
      <ul class="list-group list-group-flush">
        {% for orientador in orientadores %}
        <li class="list-group-item">
          <a href='{% url "Edit_Orientador" orientador.id %}'> {{ orientador.username }}</a>
        <a href='{% url "Delete_Orientador" orientador.id %}'> Deletar</a>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p>No orientadores</p>
      {% endif %}
    </div>
  </div>
</div>


{% endblock %}