{% extends 'layouts/admin.html' %}
{% load bootstrap %}
{% block content %}
    <main class="container">
<form  method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|bootstrap }}
    <button type="submit" class="btn btn-success" >Salvar </button>
    <a class="btn btn-danger" href="{% url 'orientadores' %}">Cancelar</a>
</form>
    </main>
{% endblock %}

<style>
    /* Seu arquivo de estilo personalizado (por exemplo, styles.css) */
    .errorlist {
        color: red; /* Cor do texto para todos os erros */
    }

    .is-invalid {
        color: red; /* Cor do texto para erros individuais */
    }
</style>