{% extends 'layouts/admin.html' %}

{% block content %}
    <main class="container">
    <div x-data="{count: 0}" class="mb-xxl-5 mt-5">
        <input type="number" x-model="count"/>
        <br/>

        <button @click="count++">Increment</button>

        <button @click="count *= count">Square</button>

        <h1 x-text="count"></h1>

    </div>
     <h2>Usuários Logados:</h2>
        <ul>
          {% for user in users %}
            <li>{{ user }}</li>
          {% endfor %}
        </ul>
    </main>
{% endblock %}

<style>

</style>