
{% block contentPerfil %}
<div class="d-flex row p-5 mt-1 rounded-3 border w-75">
    <div class="d-flex">
      <div class="w-50 h-25">
        <h6 class="label">Nome:</h6>
        {% if userProfile.first_name %}
            <p class="me-3 rounded-3 border p-2">{{ userProfile.first_name }}</p>
        {% else %}
            <p class="me-3 rounded-3 border p-2 text-muted">Sem nome</p>
        {% endif %}
    </div>
    <div class="h-25 w-50">
        <h6 class="label">Sobrenome:</h6>
        {% if userProfile.last_name %}
            <p class="me-3 rounded-3 border p-2">{{ userProfile.last_name }}</p>
        {% else %}
            <p class="me-3 rounded-3 border p-2 text-muted">Sem sobrenome</p>
        {% endif %}
    </div>
    </div>
    <div class="d-flex">
        <div class="w-100 h-25">
            <h6 class="label">Email:</h6>
            <p class="me-3 rounded-3 border p-2">{{ userProfile.email }}</p>
        </div>
    </div>
    <div class="d-flex">
        <div class="w-100 h-25">
            <h6 class="label">Outras Informações:</h6>
            <textarea class="form-control me-3 rounded-3 border p-2 bg-transparent" rows="3" readonly style="resize: none; pointer-events: none;">  </textarea>
        </div>
    </div>
    <div class="mt-3">
          <div class="d-flex">
                <div class="w-50 h-25">
                    <h6 class="label">Estagiarios:</h6>
                    <ul class="list-group me-3">
                        {% for estagiario in userProfile.estagiarios.all %}
                         <li class="list-group-item d-flex align-items-center">
                            <img id="perfilimg" src="{{ estagiario.user.image.url }}" class="rounded-circle" style="object-fit: cover; width: 2em; height: 2em; border: 1px solid rgba(196,196,196,0.77);" alt="">
                            <a class="mb-0 ms-2 text-dark text-decoration-none " target="_blank" href={% url "perfil" estagiario.user.username %} > {{ estagiario.user.username }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="h-25 w-50">
                     <h6 class="label">Participantes:</h6>
                    <ul class="list-group me-3">
                        {% for estagiario in userProfile.estagiarios.all %}
                         <li class="list-group-item d-flex align-items-center">
                            <img id="perfilimg" src="{{ estagiario.user.image.url }}" class="rounded-circle" style="object-fit: cover; width: 2em; height: 2em; border: 1px solid rgba(196,196,196,0.77);" alt="">
                            <a class="mb-0 ms-2 text-dark text-decoration-none " target="_blank" href={% url "perfil" estagiario.user.username %} > {{ estagiario.user.username }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock contentPerfil %}