{% extends 'layouts/admin.html' %}
{% load bootstrap %}
{% load custom_filters %}
{% block content %}
    <main class="container-fluid" style="width: 40%">
        {{ responsavel_form.non_field_errors }}
        {{ responsavel_form.field.errors }}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h2 class="mt-5"> Cadastro Participante </h2>
            {{ form|bootstrap }}


           <div id="responsavel-form-container" style="display: none;">
                <h2 class="mt-2"> Cadastro Responsavel </h2>
                {{ responsavel_form|bootstrap }}
            </div>

            <button type="submit" class="btn btn-success" data-toggle="tooltip" data-placement="right" title="Tooltip on right">Continuar</button>
            <a class="btn btn-danger" href="{% url 'participantes' %}">Cancelar</a>
        </form>
    </main>

    <script>
        $('input[name="data_de_nascimento"]').mask('00/00/0000');
        $('input[name="telefone"]').mask('(00) 0 0000-0000');
        $('input[name="responsavel-telefone"]').mask('(00) 0 0000-0000');
        
        $(document).ready(function () {
            function verificarIdade() {
                var isChecked = $('#checkresponsavel').is(':checked');

                if (isChecked) {
                    $('#responsavel-form-container').show();
                } else {
                    $('#responsavel-form-container').hide();
                }
            }

            $('#checkresponsavel').change(verificarIdade);
            verificarIdade();
        });
</script>
{% endblock %}