{% extends 'layouts/admin.html' %}

{% block content %}
  <h1 class="mt-3">Participantes</h1>
    <div class="d-flex col mb-3 mt-3 justify-content-between">
         <a href='{%  url "Create_Participante" %}' class="btn btn-light">Criar Participante</a>
    <div>
        <form method="get" action="{% url 'participantes' %}">
        <input type="text" name="q" placeholder="Buscar participantes" >
            <button type="submit" class="btn btn-light "><i class="bi bi-search"></i></button>
        </form>
    </div>

    </div>
<div class="row">
  <div class=" m-auto">
    <table class="table table-hover">
        <thead class="table-light">
             <th scope="col">#</th>
              <th scope="col">Nome</th>
              <th scope="col">Sobrenome</th>
              <th scope="col">Telefone</th>
            <th scope="col">Ações</th>
        </thead>

        <tbody>
            {% if participantes %}
            {% for participante in participantes %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ participante.nome }}</td>
                    <td>{{ participante.sobrenome }}</td>
                    <td>{{ participante.telefone }}</td>
                    <td>
                            {% if user.role != 'ESTAGIARIO' %}
                                <a href='{% url "Edit_Participante" participante.id %}'>
                                    <i class="bi bi-pencil-fill"></i>
                                </a>
                                <a href='#' data-bs-toggle="modal" data-bs-target="#myModal{{ participante.id }}">
                                    <i class="bi bi-trash-fill"></i>
                                </a>
                            {% endif %}
                    <a href='{% url "List_Documetos" participante.id participante.username %}'>
                            <i class="bi bi-folder-symlink-fill"></i>
                        </a>
                    </td>
                </tr>

                 <!-- The Modal for Deletion -->
        <div class="modal" id="myModal{{ participante.id }}">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Deletar o Usuario {{ participante.username }}</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <!-- Pode adicionar mais informações do orientador aqui se desejar -->
                        Tem certeza que deseja deletar o usuário {{ participante.username }}?
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                             <form method="POST" action="{% url 'Delete_Participante' participante.id %}">
                              {% csrf_token %}
                              <button type="submit" class="btn btn-danger">Confirmar</button>
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            </form>
                    </div>

                </div>
            </div>
        </div>
            {% endfor %}
            {% else %}
                 <tr>
                    <th scope="row">------</th>
                    <td>------</td>
                    <td>------</td>
                    <td>------</td>
                    <td>------</td>
                </tr>
              {% endif %}
        </tbody>
      </table>


    </div>
</div>

{% endblock %}
