{% extends 'layouts/admin.html' %}
{% load bootstrap %}
{% block content %}
    <main class="container-sm mt-5" style="width: 30%">


    <div class="d-flex flex-column">
        <h1 cla>alterar senha</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {% for field in form %}
                <div class="row mb-3">
                    {% with lower_label=field.label.lower %}
                        <label for="{{ field.id_for_label }}" class="form-label" style="font-size: 1.2em">{{ field.label }}</label>
                        <div class="input-group">
                                <input type="password" name="{{ field.name }}" class="form-control">
                                <button class="btn btn-outline-secondary" type="button" onclick="togglePassword(this)">
                                    <i class="bi bi-eye"></i>
                                </button>
                        </div>
                    {% endwith %}
                    {% for error in field.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-success mt-2">Salvar</button>
        </form>
    </div>
    </main>
    <script>
    function togglePassword(button) {
        const input = button.previousElementSibling;
        input.type = input.type === "password" ? "text" : "password";
    }
</script>
{% endblock content %}