{% extends 'layouts/admin.html' %}
{% load bootstrap %}
{% load custom_filters %}
{% block content %}
    <main class="container">
<div class="d-flex flex-row mt-5 justify-content-evenly">
    <div class="d-flex flex-column align-items-center w-25 rounded-3">
        <img id="perfilimg" src="{{ userProfile.image.url }}" class="perfil-page rounded-circle mt-2" style="object-fit: cover; width: 10em; height: 10em;" alt="">
        <div class="mt-2">
            <h4 class="text-capitalize d-flex flex-column align-items-center">{{ userProfile.username|replace_space }}</h4>
            <p class="text-uppercase text-muted d-flex flex-column align-items-center">{{ userProfile.role }}</p>
            <div class="list-group list-group-flush">
                <a href="{% url 'perfil' userProfile.username %}" class=" list-group-item list-group-item-action ">Visualizar perfil público</a>
                <a href="{% url 'edit_profile' %}" class="list-group-item list-group-item-action {% if request.resolver_match.url_name == 'edit_profile'%} active{% endif %}">Perfil</a>
                <a href="{% url 'edit_photo' %}" class="list-group-item list-group-item-action mb-0 {% if request.resolver_match.url_name == 'edit_photo'%} active{% endif %}">Foto</a>
                <a href="{% url 'edit_account' %}" class="list-group-item list-group-item-action mb-0 ">Alterar Senha</a>
            </div>
        </div>
    </div>
    <div class="d-flex row rounded-3 border w-75 align-items-stretch">
    <div class="align-items-center mt-3 text-center border-bottom">
        {% if request.resolver_match.url_name == 'edit_photo' %}
            <h3 class="font-weight-bold">Foto</h3>
            <p>Adicione uma bela foto sua ao seu perfil.</p>
        {% elif request.resolver_match.url_name == 'edit_profile'  %}
            <h3 class="font-weight-bold">Perfil público</h3>
            <p>Adicione informações sobre você.</p>
            {% else %}
        {% endif %}
    </div>

    <div class="d-flex flex-column p-2 mb-3 mt-3 rounded-3 align-items-center">
        <form method="POST" enctype="multipart/form-data" class="w-75">
            {% csrf_token %}

            <!-- Mostrar a imagem atual -->
            {% if userProfile.image and request.resolver_match.url_name == 'edit_photo' %}
                   <div>
                        <div class="d-flex justify-content-center mb-1">
                            <img id="selectedAvatar" src="{{ userProfile.image.url }}"
                                class="rounded-circle" style="width: 200px; height: 200px; object-fit: cover;" />
                        </div>
                        <div class="d-flex justify-content-center mb-3">
                            <div class="btn">
                                <label class="form-label m-1" for="customFile2">Adicionar/alterar imagem</label>
                                <input type="file" name="{{ form.image.name }}" class="form-control" id="customFile2" onchange="displaySelectedImage(event, 'selectedAvatar')" />
                            </div>
                        </div>
                    </div>
            {% else %}
                <span class="mb-2">Email</span>
                <input type="email" class="form-control mb-3 mt-2" disabled  placeholder="{{ userProfile.email }}">
                 {{ form|bootstrap }}
            {% endif %}


            <button type="submit" class="btn btn-success" data-toggle="tooltip" data-placement="right" title="Tooltip on right">Salvar</button>
        </form>
    </div>
</div>
</div>
    </main>


    <script>
    function displaySelectedImage(event, elementId) {
    const selectedImage = document.getElementById(elementId);
    const fileInput = event.target;

    if (fileInput.files && fileInput.files[0]) {
        const reader = new FileReader();

        reader.onload = function(e) {
            selectedImage.src = e.target.result;
        };

        reader.readAsDataURL(fileInput.files[0]);
    }
}
    </script>
{% endblock %}

<style>

    .perfil-page{
        object-fit: cover;
        width: 100px;
        height: 100px;
    }
    /* Seu arquivo de estilo personalizado (por exemplo, styles.css) */
.listmy.active {
    background-color: #28a745; /* Verde do Bootstrap */
    color: #fff; /* Texto branco para contrastar */
    border-color: #28a745; /* Cor da borda igual à cor de fundo (opcional) */
}


</style>